@import "../../style/_variables.scss";

.products {
    margin-top: 10px;
    width: 80%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 50px;
}




.paginate {

    .paginationBttns {
        max-width: 100%;
        height: 40px;
        list-style: none;
        display: flex;
        justify-content: center;

        ul {
            li {
                width: 10px;
            }
        }
    }

    .paginationBttns a {
        padding: 10px;
        margin: 8px;
        border-radius: 8px;
        color: $dark-blue;
        cursor: pointer;
        background-color: $light-blue;
        font-weight: bold;
    }

    .paginationBttns a:hover {
        color: $dark-blue;
        background-color: $light-blue;
        border: 2px solid $dark-blue;
    }

    .paginationActive a {
        color: $light-blue;
        background-color: $dark-blue;
    }

    .paginationDisabled a {
        color: $dark-blue;
        background-color: $white-100;
        border: 1px solid $dark-blue;
    }
}



@media screen and (max-width: 600px) {
    .products {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)) !important;
        grid-gap: 10px;
    }


}

@media screen and (max-width: 800px) {
    .paginate {
        ul {
            li {
                a {
                    margin: 4px !important;
                    padding: 5px !important;
                }
            }
        }
    }
}