@import "../../style/_variables.scss";

.card {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    padding: 8px;

    .card-img {
        width: 100%;

        img {
            width: 100%;
            object-fit: contain;
            border-radius: 8px;
        }
    }

    .card__down {
        margin: 0px 10px;
    }

    .card-content {
        display: flex;
        justify-content: space-between;


        .card-brand {
            text-transform: capitalize;
            font: normal normal bold 15px/22px Nunito;
            color: $dark-blue;
        }

        .card-color {
            font: normal normal normal 13px/22px Nunito;


            .color {
                font: normal normal bold 13px/22px Nunito;
            }
        }
    }

    .card-price {
        font: normal normal bold 18px/22px Nunito;
        margin-top: 15px;

    }
}

@media screen and (max-width: 600px) {
    .card {
        max-height: 266px !important;
        max-width: 173px !important;
        min-width: none !important;
        padding: 0 !important;

        .card-img {
            max-width: 160px !important;
            width: 100%;
            margin-top: 5px;

            img {
                width: 100%;
                height: 184px !important;
                object-fit: contain;
                min-height: none !important;
                padding: 0px 5px !important;
            }
        }

        .card__down {
            .card-content {

                display: flex !important;
                flex-direction: column !important;
            }
        }

        .card-brand {
            text-transform: capitalize;
            font: normal normal bold 15px/22px Nunito;
            color: $dark-blue;
        }

        .card-color {
            font: normal normal normal 11px/22px Nunito !important;


            .color {
                font: normal normal bold 11px/22px Nunito !important;
            }
        }

        .card-price {
            margin-top: 5px !important;

        }

    }
}