@import "../../style/_variables.scss";

.header {
    background-color: $white;
    width: 100%;

    .wrapper {
        width: 80%;
        height: 60px;
        display: flex;
        margin: 0 auto;
        align-items: center;
        background-color: $white;
        justify-content: space-between;

        &__logo {}

        &__buttons {
            img {
                margin-right: 5px;
            }

            button {
                background-color: $light-blue;
                font: normal normal bold 15px/20px Nunito;
                color: $dark-blue;
                border: none;
                border-radius: 8px;
                width: 120px;
                padding: 8px;
                margin-right: 10px;
                cursor: pointer;
            }

            .right {
                margin-right: 0 !important;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        width: 95% !important;
    }

    .addBtn {
        width: 40px !important;
        padding-left: 14px !important;
    }

    .addProductText {
        display: none;
    }
}