@import "../../style/_variables.scss";

.header {
    height: 60px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        margin: 0px 0 0 200px ;
    }

    &__buttons {
        margin: 0px 195px 0 0;
        

        img {
            margin-right: 5px;
        }

        button {
            background-color: $light-blue;
            font: normal normal bold 15px/20px Nunito;
            color: $dark-blue;
            border: none;
            border-radius: 8px;
            width: 120px;
            padding: 8px;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}