$light-pink : #FFE5E5;
$green : #46AF32;
$dark-blue : #4B9CE2;
$light-blue : #F0F8FF;
$dark-pink : #F77474;
$unnamed-color-3e3e3e : #3E3E3E;
$unnamed-color-525252 : #525252;
$unnamed-color-b1b1b1 : #B1B1B1;
$unnamed-color-eaeaea : #EAEAEA;
$unnamed-color-f2f2f2 : #F2F2F2;
$white : #FFFFFF;